{% extends 'layouts/base.html' %}

{% block content %}

<h1>log in</h1>
<div class="label-wrong-password">
    <p>wrong login or password</p>
</div>
<div class="form-floating mb-3 authorisation-element">
    <input type="email" class="form-control" id="floatingInput" maxlength="60">
    <label for="floatingInput">login</label>
</div>
<div class="form-floating authorisation-element">
    <input type="password" class="form-control" id="floatingPassword" maxlength="60">
    <label for="floatingPassword">password</label>
</div>
<div class="btn-login">
    <button type="button" class="btn btn-primary btn-lg">log in</button>
</div>
<div class="block-register">
    <span class="register"> <a href="{% url 'signup' %}">register</a></span>
</div>

{% endblock %}